body{
    background: #950909;
}


#logo{
    width:50px;
    height: auto;
    position: absolute;
    left: 0%;
    right: 95.69%;
    top: 0%;
    bottom: 0%;
    }
    #navigation{
        position: absolute;
    width: 100%;
    height: 78px;
    left: 0px;
    top: 1px;
    background: #EDE59E;
    }
    #home{
        position: absolute;
    left: 46.74%;
    right: 44.03%;
    top: 34.62%;
    bottom: 37.18%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    }
    #Aboutus{
        position: absolute;
    left: 55.35%;
    right: 35%;
    top: 37.18%;
    bottom: 39.74%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    }
    #Services{
        position: absolute;
    left: 66.32%;
    right: 25.9%;
    top: 38.46%;
    bottom: 20.51%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    }
    #Appointment{
        position: absolute;
    left: 76.74%;
    right: 10.21%;
    top: 38.46%;
    bottom: 17.95%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    
    }
    #Contact{
        position: absolute;
    left: 91.04%;
    right: 0%;
    top: 39.74%;
    bottom: 32.05%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    
    }
    #navigation a{
        text-decoration: none;
    }
    #navigation a:hover {
        color: #f00; 
      }
    #container{
        padding-top: 300px;
    }
    #container h3{
        text-align: center;
        color: white;
       
    }
    form{
        padding-left: 500px;
        margin: 20px 20px 20px 20px;
        color: white;
    }
    form input{
        border-radius: 30px;
    }
    #button{
        margin-left: 200px;
        background: #FC6A00;
border-radius: 30px;
width: 100px;
height: 30px;
    }